REF_GENOME=/ifs/data/bio/Genomes/H.sapiens/GRCh37/GRCh37.fasta
RNA_REF_GENOME=/ifs/res/nabors/make_bed_files/GRCh37_RNA_Ensembl/Homo_sapiens.GRCh37.75.dna.primary_assembly.fa
BAIT_INTERVAL=/ifs/res/IGO/resources/IDT_Exome_v1_FP/b37/IDT_Exome_v1_FP_b37_baits.interval_list
TARGET_INTERVAL=/ifs/res/IGO/resources/IDT_Exome_v1_FP/b37/IDT_Exome_v1_FP_b37_targets.interval_list
RIBOSOMAL_INTERVALS=/ifs/res/nabors/make_bed_files/GRCh37_RNA_Ensembl/Homo_sapiens.GRCh37.75.rRNA.interval_list
REF_FLAT=/ifs/res/nabors/make_bed_files/GRCh37_RNA_Ensembl/refFlat_ensembl.v75.txt

WORK_DIR=/home/streidd/pipeline-scripts
bcl2fastq=/opt/common/CentOS_6/bcl2fastq/bcl2fastq2-v2.20.0.422/bin/bcl2fastq
